In [1]:
import pandas as pd

{
  "income": [
    "1",
    "2",
    "3",
    "4"
  ],
  "regio_type": [],
  "lifestyle": [
    "1",
    "2",
    "3",
    "4",
    "5",
    "6",
    "7"
  ],
  "sec_reference": [],
  "smaller_towns": [],
  "health_care": [
    "1",
    "2"
  ],
  "insurance": [
    "insurance_saving_plan",        
    "insurance_retirement_plan"     
  ],
  "banking_product": [
    "banking_product_mutual_fund",  
    "banking_product_fixed_deposit" 
  ],
  "credit_card": [
    "2",
    "1",
    "3"
  ],
  "automobile": [
    "automobile_1",
    "automobile_2",
    "automobile_3",
    "automobile_4",
    "automobile_5",
    "automobile_6",
    "automobile_7",
    "automobile_8",
    "automobile_9"
  ],
  "real_estate": [
    "1",
    "2",
    "3",
    "4"
  ],
  "laundry": [
    "1",
    "2"
  ],
  "personal_wash": [
    "2",
    "1"
  ],
  "packaged_food": [
    "1",
    "2"
  ],
  "cosmetics": [
    "1",
    "2"
  ],
  "fashion": [
    "1",
    "2",
    "3",
    "4"
  ],
  "jewellery_total": [],
  "jewellery_gold": [
    "moderately_priced",
    "high_priced"
  ],
  "jewellery_diamond": [
    "moderately_priced",
    "high_priced"
  ],
  "travel_spend": [
    "basic",
    "luxury"
  ],
  "travel_destination": [
    "international"
  ],
  "online_retail": [
    "rare",
    "moderate"
  ],
  "retail": [],
  "two_wheeler": [
    "two_wheeler_9",
    "two_wheeler_10",
    "two_wheeler_8",
    "two_wheeler_7",
    "two_wheeler_6",
    "two_wheeler_5",
    "two_wheeler_4",
    "two_wheeler_3",
    "two_wheeler_2",
    "two_wheeler_1"
  ],
  "laundry_washing_machine": [],    
  "travel_destination_special": [], 
  "TV": [
    "popular",
    "premium"
  ],
  "Smartphone": [
    "popular",
    "premium"
  ],
  "Refrigerator": [
    "premium",
    "popular"
  ],
  "WashingMachine": [
    "premium",
    "popular"
  ],
  "AirConditioner": [
    "premium",
    "popular"
  ]
}

In [2]:
df = pd.read_csv("Mega_Metro_SubM_MAID_Final_Actual_V3_with_Electronics_Flags.csv",encoding='utf-8-sig')

C:\Users\Kentrix\AppData\Local\Temp\ipykernel_10592\1842527246.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Mega_Metro_SubM_MAID_Final_Actual_V3_with_Electronics_Flags.csv",encoding='utf-8-sig')

In [3]:
mp=pd.read_excel("Mega_Metro_SubM_MAID_Mapping Internal.xlsx",sheet_name='Main City Selection')

In [4]:
mp=mp[[
    'city', 'Market',  'Dashboard_City_Filter',
       'Regio-type : Urban (For Dashboard)'
]]

In [5]:
df.shape

(92850, 71)

In [6]:
df=pd.merge(df,mp,on=['city', 'Market'])

In [7]:
# df['city']=df['city'].fillna(df['Market'])
# df.loc[df['Market']=='Delhi NCR','Market']=df['city']
# df.loc[df['Market']=='MMR','Market']=df['city']

In [8]:
df['Market']=df['Dashboard_City_Filter']
df['Regio-type : Urban']=df['Regio-type : Urban (For Dashboard)']

In [9]:
df=df[[
    'Market',
    'maid_count',
    'income_new',
    'Socio-Economic Profile : Income',
       'Regio-type : Urban',
    'Consumer Segments : Lifestyle',
       'Consumer Segments : SEC Reference',
       'Consumer Segments : Lifestyle  Smaller Towns',
       'Consumer Segments : Special Health Care Target Group',
       'Financial  Insurance : Saving Plan',
       'Financial  Insurance : Retirement Plan',
#        'Financial  Insurance : Unit Linked Plan',
#        'Financial  Insurance : Health',
    'Financial  Banking : Mutual Fund',
       'Financial  Banking : Fixed Deposit',
       'Financial  Banking : Credit Card Holding',
       'Automobile: 01: Entry Price - Segment INR 4,00,000 - 7,00,000',
       'Automobile: 02: Entry Premium Hatch Segment INR 6,00,000 - 10,00,000',
       'Automobile: 03: Premium Hatch Segment INR 7,00,000 - 11,00,000',
       'Automobile: 04: Compact Sedan Segment INR 6,00,000 - 10,00,000',
       'Automobile: 05: Sedan Segment INR 10,00,000 - 17,50,000',
       'Automobile: 06: Premium Sedan Segment INR 16,00,000 - 25,00,000',
       'Automobile: 07: Compact / Entry SUV Segment INR 6,00,000 - 14,00,000',
       'Automobile: 08: SUV Segment INR 20,00,000 - 45,00,000',
       'Automobile: 09: Luxury Premium Sedan & SUV Segment INR 45,00,000+',
       'Automobile: 10: Second-hand Sedan Segment car',
       'Automobile: 11: Second-hand Premium Sedan / SUV Segment',
       'Automobile: 12: Second-hand Luxury Premium Sedan & SUV Segment',
       'Real Estate : Purchase Price Segment',
       'FMCG : Laundry  Fabric Wash Products',
       'FMCG : Laundry  Washing Machine Products', 'FMCG : Personal Wash',
       'FMCG : Packaged Food', 'FMCG : Cosmetics',
       'Fashion & Apparel : Purchase Price Category',
       'Jewellery & Gold : Purchase Category  Total',
       'Jewellery & Gold : Purchase Category  Gold',
       'Jewellery & Gold : Purchase Category  Diamond',
       'Travel  Short Term : Spend Category',
       'Travel  Long Term : Destination Category',
       'Travel  Long Term : Special Category',
       'Retail : Online Shopping Channels',
       'Retail : Product Category Home and Living',
       '2 Wheeler : 01: Entry Level Scooter Segment',
       '2 Wheeler : 02: Premium Scooter Segment',
       '2 Wheeler : 03: Entry Level Commuter Segment',
       '2 Wheeler : 04: Premium Commuter Segment',
       '2 Wheeler : 05: Entry Level Sports Bike Segment',
       '2 Wheeler : 06: Premium Sports Bike Segment',
       '2 Wheeler : 07: Entry Level Cruiser Bike Segment',
       '2 Wheeler : 08: Premium Cruiser Bike Segment',
       '2 Wheeler : 09: Touring Bike Segment',
       '2 Wheeler : 10: Off Road Bike Segment',
       'FMCG : Packaged Food Special Category - Health and Wellness', 'AC',
       'TV', 'Smartphone', 'Refridge', 'Washing_Machine'
]]

In [10]:
df['income_new']=df['income_new'].astype(int)
df['maid_count']=df['maid_count'].astype(int)

In [11]:
def get_income_group(income):
    if income >= 300000:
        return 5
    elif income < 300000 and income >= 230000:
        return 4
    elif income < 230000 and income >= 130000:
        return 3
    elif income < 130000 and income >= 80000:
        return 2
    elif income < 80000 and income >= 40000:
        return 1
    elif income < 40000:
        return 0

In [12]:
df['Socio-Economic Profile : Income']=df['income_new'].apply(lambda x:get_income_group(x))

In [13]:
df['Consumer Segments : Lifestyle'] = df['Consumer Segments : Lifestyle'].replace({
    '01: Urban Established Elite': 1,
    '02: Urban New Wealth': 2,
    '03: Aspiring Urban Middle Class': 3,
    '04: Conservative Urban Middle Class': 4,
    '05: Successful Urban Fast Climbers': 5,
    '06: Upcoming Urban Climbers': 6,
    '07: Striving Urban Climbers': 7,
    '08: Urban Dependants': 8,
    '09: Daily Urban Survivors': 9
})
df['Consumer Segments : Lifestyle'].unique()

array([6, 5, 4, 3, 1, 2, 9, 7, 8], dtype=int64)

In [14]:
df['Consumer Segments : Special Health Care Target Group'] = df['Consumer Segments : Special Health Care Target Group'].replace({
   '01: Health Care - ‘The Informed’ In Urban India': 1,
    '02: Health Care - ‘The Carefree / Anxious’ In Urban India':2
})
df['Consumer Segments : Special Health Care Target Group'].fillna(0,inplace=True)
df['Consumer Segments : Special Health Care Target Group'].unique()

array([2., 1., 0.])

In [15]:
df[ 'Financial  Banking : Credit Card Holding'].unique()

array(['01: Expected rare / Irregular Use',
       '03: Expected heavy / Frequent Use',
       '02: Expected Moderate / Average Use', nan], dtype=object)

In [16]:
col_name='Financial  Insurance : Saving Plan'
df[col_name] = df[col_name].replace({
   '01: Alternate Offerings': 1
})
df[col_name].fillna(0,inplace=True)
df[col_name].unique()

array([1., 0.])

In [17]:
col_name= 'Financial  Insurance : Retirement Plan'
df[col_name] = df[col_name].replace({
   'Yes': 1
})
df[col_name].fillna(0,inplace=True)
df[col_name].unique()

array([1., 0.])

In [18]:
col_name= 'Financial  Banking : Mutual Fund'
df[col_name] = df[col_name].replace({
   'Yes': 1
})
df[col_name].fillna(0,inplace=True)
df[col_name].unique()

array([0., 1.])

In [19]:
col_name=  'Financial  Banking : Fixed Deposit'
df[col_name] = df[col_name].replace({
   'Yes': 1
})
df[col_name].fillna(0,inplace=True)
df[col_name].unique()

array([0., 1.])

In [20]:
col_name=  'Financial  Banking : Credit Card Holding'
df[col_name] = df[col_name].replace({
      '01: Expected rare / Irregular Use': 1,
    '02: Expected Moderate / Average Use': 2,
    '03: Expected heavy / Frequent Use': 3
})
df[col_name].fillna(0,inplace=True)
df[col_name].unique()

array([1., 3., 2., 0.])

In [21]:
cols=[
      'Automobile: 01: Entry Price - Segment INR 4,00,000 - 7,00,000',
       'Automobile: 02: Entry Premium Hatch Segment INR 6,00,000 - 10,00,000',
       'Automobile: 03: Premium Hatch Segment INR 7,00,000 - 11,00,000',
       'Automobile: 04: Compact Sedan Segment INR 6,00,000 - 10,00,000',
       'Automobile: 05: Sedan Segment INR 10,00,000 - 17,50,000',
       'Automobile: 06: Premium Sedan Segment INR 16,00,000 - 25,00,000',
       'Automobile: 07: Compact / Entry SUV Segment INR 6,00,000 - 14,00,000',
       'Automobile: 08: SUV Segment INR 20,00,000 - 45,00,000',
       'Automobile: 09: Luxury Premium Sedan & SUV Segment INR 45,00,000+',
       'Automobile: 10: Second-hand Sedan Segment car',
       'Automobile: 11: Second-hand Premium Sedan / SUV Segment',
       'Automobile: 12: Second-hand Luxury Premium Sedan & SUV Segment',
     '2 Wheeler : 01: Entry Level Scooter Segment',
       '2 Wheeler : 02: Premium Scooter Segment',
       '2 Wheeler : 03: Entry Level Commuter Segment',
       '2 Wheeler : 04: Premium Commuter Segment',
       '2 Wheeler : 05: Entry Level Sports Bike Segment',
       '2 Wheeler : 06: Premium Sports Bike Segment',
       '2 Wheeler : 07: Entry Level Cruiser Bike Segment',
       '2 Wheeler : 08: Premium Cruiser Bike Segment',
       '2 Wheeler : 09: Touring Bike Segment',
       '2 Wheeler : 10: Off Road Bike Segment',
]
for each_col in cols:
    df[each_col] = df[each_col].replace({
       'Yes': 1
    })
    df[each_col].fillna(0,inplace=True)
    print(df[each_col].unique())

[0. 1.]
[0. 1.]
[1. 0.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[1. 0.]
[0. 1.]
[1. 0.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]

In [22]:
cols = [
    'Real Estate : Purchase Price Segment',
    'FMCG : Laundry  Fabric Wash Products',
    'FMCG : Laundry  Washing Machine Products', 
    'FMCG : Personal Wash',
    'FMCG : Packaged Food', 
    'FMCG : Cosmetics',
    'Fashion & Apparel : Purchase Price Category'
]

# Real Estate : Purchase Price Segment
df['Real Estate : Purchase Price Segment'] = df['Real Estate : Purchase Price Segment'].replace({
    '01: INR 15,00,000 – 25,00,000': 1,
    '02: INR 25,00,000 – 50,00,000': 2,
    '03: INR 51,00,000 - 1 Crore': 3,
    '04: INR 1 - 4 Crore': 4,
    '05: Beyond INR 4 Crore': 5
})

# FMCG : Laundry  Fabric Wash Products
df['FMCG : Laundry  Fabric Wash Products'] = df['FMCG : Laundry  Fabric Wash Products'].replace({
    '01: Mass Fabric Products': 1,
    '02: Premium Fabric Products': 2
})

# FMCG : Laundry  Washing Machine Products
df['FMCG : Laundry  Washing Machine Products'] = df['FMCG : Laundry  Washing Machine Products'].replace({
    'Yes': 1
})
df['FMCG : Laundry  Washing Machine Products'].fillna(0, inplace=True)

# FMCG : Personal Wash
df['FMCG : Personal Wash'] = df['FMCG : Personal Wash'].replace({
    '01: Mass Classified Products': 1,
    '02: Popular Classified Products': 2,
    '03: Premium Classified Products': 3
})

# FMCG : Packaged Food
df['FMCG : Packaged Food'] = df['FMCG : Packaged Food'].replace({
    '01:Value or Economy': 1,
    '02:Mid-Range': 2,
    '03:Premium or Gourmet': 3
})

# FMCG : Cosmetics
df['FMCG : Cosmetics'] = df['FMCG : Cosmetics'].replace({
    '01: Mass Classified Products': 1,
    '02: Popular Classified Products': 2,
    '03: Premium Classified Products': 3
})

# Fashion & Apparel : Purchase Price Category
df['Fashion & Apparel : Purchase Price Category'] = df['Fashion & Apparel : Purchase Price Category'].replace({
    '01: "Economy" INR Below 800': 1,
   '02: “Medium" INR 800 – 2,000' : 2,
    '03: "Premium" INR 2,000 – 3,500': 3,
    '04: "Super Premium" INR 3,500 – 7,000': 4,
    '05: "Luxury" INR 7,000+': 5
})

In [23]:
df['AC'] = df['AC'].replace({
    '01 : Mass Air Conditioning': 0,
  '02 : Popular Air Conditioning' : 2,
   '03 : Premium Air Conditioning': 1
})
df['TV'] = df['TV'].replace({
    'Mass': 0,
  'Popular' : 2,
   'Premium': 1
})
df['Smartphone'] = df['Smartphone'].replace({
    'Mass': 0,
  'Popular' : 2,
   'Premium': 1
})
df['Refridge'] = df['Refridge'].replace({
    'Mass': 0,
  'Popular' : 2,
   'Premium': 1
})
df['Washing_Machine'] = df['Washing_Machine'].replace({
    'Mass': 0,
  'Popular' : 2,
   'Premium': 1
})
df['Jewellery & Gold : Purchase Category  Gold'] = df['Jewellery & Gold : Purchase Category  Gold'].replace({
    '03: Moderately priced Gold Jewellery': 1,
  '04: High priced Gold Jewellery' : 2,
})
df['Jewellery & Gold : Purchase Category  Diamond'] = df['Jewellery & Gold : Purchase Category  Diamond'].replace({
   '05: Moderately priced Diamond Jewellery': 1,
 '06: High priced Diamond Jewellery' : 2,
})
df['Travel  Short Term : Spend Category'] = df['Travel  Short Term : Spend Category'].replace({
   '01: Basic': 1,
 '02: Luxury' : 2,
})
df['Travel  Long Term : Destination Category'] = df['Travel  Long Term : Destination Category'].replace({
   '01: International': 1,
'01: National' : 2,
})
df['Retail : Online Shopping Channels'] = df['Retail : Online Shopping Channels'].replace({
   '01: Expected rare / Irregular Use': 1,
'02: Expected Moderate / Average Use' : 3,
    '03: Expected heavy / Frequent Use': 2
})

In [24]:
cols=[
            'AC',
       'TV', 'Smartphone', 'Refridge', 'Washing_Machine',
       'Jewellery & Gold : Purchase Category  Gold',
       'Jewellery & Gold : Purchase Category  Diamond',
       'Travel  Short Term : Spend Category',
       'Travel  Long Term : Destination Category',
       'Travel  Long Term : Special Category',
       'Retail : Online Shopping Channels',
]
for each_col in cols:
    df[each_col].fillna(0,inplace=True)
    print(each_col)
    print(df[each_col].unique())

AC
[0. 1. 2.]
TV
[2. 1. 0.]
Smartphone
[2. 1. 0.]
Refridge
[2. 1. 0.]
Washing_Machine
[2. 1. 0.]
Jewellery & Gold : Purchase Category  Gold
[0. 1. 2.]
Jewellery & Gold : Purchase Category  Diamond
[0. 1. 2.]
Travel  Short Term : Spend Category
[1. 0. 2.]
Travel  Long Term : Destination Category
[2. 0. 1.]
Travel  Long Term : Special Category
[0 'Yes']
Retail : Online Shopping Channels
[1. 3. 2. 0.]

In [25]:
df.columns

Index(['Market', 'maid_count', 'income_new', 'Socio-Economic Profile : Income',
       'Regio-type : Urban', 'Consumer Segments : Lifestyle',
       'Consumer Segments : SEC Reference',
       'Consumer Segments : Lifestyle  Smaller Towns',
       'Consumer Segments : Special Health Care Target Group',
       'Financial  Insurance : Saving Plan',
       'Financial  Insurance : Retirement Plan',
       'Financial  Banking : Mutual Fund',
       'Financial  Banking : Fixed Deposit',
       'Financial  Banking : Credit Card Holding',
       'Automobile: 01: Entry Price - Segment INR 4,00,000 - 7,00,000',
       'Automobile: 02: Entry Premium Hatch Segment INR 6,00,000 - 10,00,000',
       'Automobile: 03: Premium Hatch Segment INR 7,00,000 - 11,00,000',
       'Automobile: 04: Compact Sedan Segment INR 6,00,000 - 10,00,000',
       'Automobile: 05: Sedan Segment INR 10,00,000 - 17,50,000',
       'Automobile: 06: Premium Sedan Segment INR 16,00,000 - 25,00,000',
       'Automobile: 07: Compact / Entry SUV Segment INR 6,00,000 - 14,00,000',
       'Automobile: 08: SUV Segment INR 20,00,000 - 45,00,000',
       'Automobile: 09: Luxury Premium Sedan & SUV Segment INR 45,00,000+',
       'Automobile: 10: Second-hand Sedan Segment car',
       'Automobile: 11: Second-hand Premium Sedan / SUV Segment',
       'Automobile: 12: Second-hand Luxury Premium Sedan & SUV Segment',
       'Real Estate : Purchase Price Segment',
       'FMCG : Laundry  Fabric Wash Products',
       'FMCG : Laundry  Washing Machine Products', 'FMCG : Personal Wash',
       'FMCG : Packaged Food', 'FMCG : Cosmetics',
       'Fashion & Apparel : Purchase Price Category',
       'Jewellery & Gold : Purchase Category  Total',
       'Jewellery & Gold : Purchase Category  Gold',
       'Jewellery & Gold : Purchase Category  Diamond',
       'Travel  Short Term : Spend Category',
       'Travel  Long Term : Destination Category',
       'Travel  Long Term : Special Category',
       'Retail : Online Shopping Channels',
       'Retail : Product Category Home and Living',
       '2 Wheeler : 01: Entry Level Scooter Segment',
       '2 Wheeler : 02: Premium Scooter Segment',
       '2 Wheeler : 03: Entry Level Commuter Segment',
       '2 Wheeler : 04: Premium Commuter Segment',
       '2 Wheeler : 05: Entry Level Sports Bike Segment',
       '2 Wheeler : 06: Premium Sports Bike Segment',
       '2 Wheeler : 07: Entry Level Cruiser Bike Segment',
       '2 Wheeler : 08: Premium Cruiser Bike Segment',
       '2 Wheeler : 09: Touring Bike Segment',
       '2 Wheeler : 10: Off Road Bike Segment',
       'FMCG : Packaged Food Special Category - Health and Wellness', 'AC',
       'TV', 'Smartphone', 'Refridge', 'Washing_Machine'],
      dtype='object')

In [26]:
# Rename dataframe columns once
column_rename_mapping = {
     'Regio-type : Urban':'regio_type',
    'Market':'city_name',
    'Socio-Economic Profile : Income': 'income',
    'Consumer Segments : Lifestyle': 'lifestyle',
    'Consumer Segments : Special Health Care Target Group': 'health_care',
    'Financial  Banking : Credit Card Holding': 'credit_card',
    'Real Estate : Purchase Price Segment': 'real_estate',
    'FMCG : Laundry  Fabric Wash Products': 'laundry',
    'FMCG : Personal Wash': 'personal_wash',
    'FMCG : Packaged Food': 'packaged_food',
    'FMCG : Cosmetics': 'cosmetics',
    'Fashion & Apparel : Purchase Price Category': 'fashion',
    'Jewellery & Gold : Purchase Category  Gold': 'jewellery_gold',
    'Jewellery & Gold : Purchase Category  Diamond': 'jewellery_diamond',
    'Travel  Short Term : Spend Category': 'travel_spend',
    'Travel  Long Term : Destination Category': 'travel_destination',
    'Retail : Online Shopping Channels': 'online_retail',
    'TV': 'TV',
    'Smartphone': 'Smartphone',
    'Refridge': 'Refrigerator',
    'Washing_Machine': 'WashingMachine',
    'AC': 'AirConditioner',
    'Financial  Insurance : Saving Plan': 'insurance_saving_plan',
    'Financial  Insurance : Retirement Plan': 'insurance_retirement_plan',
    'Financial  Banking : Mutual Fund': 'banking_product_mutual_fund',
    'Financial  Banking : Fixed Deposit': 'banking_product_fixed_deposit',
    'Automobile: 01: Entry Price - Segment INR 4,00,000 - 7,00,000': 'automobile_1',
    'Automobile: 02: Entry Premium Hatch Segment INR 6,00,000 - 10,00,000': 'automobile_2',
    'Automobile: 03: Premium Hatch Segment INR 7,00,000 - 11,00,000': 'automobile_3',
    'Automobile: 04: Compact Sedan Segment INR 6,00,000 - 10,00,000': 'automobile_4',
    'Automobile: 05: Sedan Segment INR 10,00,000 - 17,50,000': 'automobile_5',
    'Automobile: 06: Premium Sedan Segment INR 16,00,000 - 25,00,000': 'automobile_6',
    'Automobile: 07: Compact / Entry SUV Segment INR 6,00,000 - 14,00,000': 'automobile_7',
    'Automobile: 08: SUV Segment INR 20,00,000 - 45,00,000': 'automobile_8',
    'Automobile: 09: Luxury Premium Sedan & SUV Segment INR 45,00,000+': 'automobile_9',
    '2 Wheeler : 01: Entry Level Scooter Segment': 'two_wheeler_1',
    '2 Wheeler : 02: Premium Scooter Segment': 'two_wheeler_2',
    '2 Wheeler : 03: Entry Level Commuter Segment': 'two_wheeler_3',
    '2 Wheeler : 04: Premium Commuter Segment': 'two_wheeler_4',
    '2 Wheeler : 05: Entry Level Sports Bike Segment': 'two_wheeler_5',
    '2 Wheeler : 06: Premium Sports Bike Segment': 'two_wheeler_6',
    '2 Wheeler : 07: Entry Level Cruiser Bike Segment': 'two_wheeler_7',
    '2 Wheeler : 08: Premium Cruiser Bike Segment': 'two_wheeler_8',
    '2 Wheeler : 09: Touring Bike Segment': 'two_wheeler_9',
    '2 Wheeler : 10: Off Road Bike Segment': 'two_wheeler_10'
}

# Rename columns
df.rename(columns=column_rename_mapping, inplace=True)

In [27]:
df['maid_count'].sum()

160335656

In [28]:
df['regio_type'].unique()

array(['01: Cosmopolitan Urban Area', '02: Sub-Metropolitan Urban Area',
       '03: Small Urban Area', '04: Semi Urban Area'], dtype=object)

In [29]:
import json
city_names=df[['regio_type','city_name']].drop_duplicates().reset_index(drop=True)
city_names=city_names.set_index('regio_type')
result = city_names.groupby('regio_type')['city_name'].apply(list).to_dict()
# Convert to JSON
json_output = json.dumps(result, indent=2)
print(json_output)

{
  "01: Cosmopolitan Urban Area": [
    "Delhi NCT",
    "Bangalore",
    "Greater Mumbai",
    "Ahmadabad-Gandhinagar",
    "Hyderabad",
    "Chennai",
    "KMA",
    "Pune-PCMC",
    "Surat",
    "Lucknow",
    "Jaipur"
  ],
  "02: Sub-Metropolitan Urban Area": [
    "Nashik",
    "Meerut",
    "Aurangabad",
    "Kochi",
    "Solapur",
    "Bhubaneswar-Cuttack Twin City",
    "Chandigarh Tricity",
    "Kozhikode",
    "Patna",
    "Raipur",
    "Coimbatore",
    "Kalyan-Dombivli",
    "Thane",
    "Kanpur",
    "Indore",
    "Guwahati",
    "Agra",
    "Prayagraj",
    "Varanasi",
    "Vijayawada",
    "Ludhiana",
    "Ranchi",
    "Dhanbad",
    "Bareilly",
    "Gwalior",
    "Tiruchirappalli",
    "Thiruvananthapuram",
    "Mysore",
    "Aligarh",
    "Nagpur",
    "Madurai",
    "Moradabad",
    "Vadodara",
    "Jalandhar",
    "Jodhpur",
    "Amritsar",
    "Vishakhapatnam",
    "Salem",
    "Jabalpur",
    "Bhopal",
    "Gurgaon",
    "Rajkot",
    "Faridabad",
    "Noida",
    "Kota",
    "Ghaziabad",
    "Navi Mumbai",
    "Saharanpur",
    "Warangal",
    "Vasai-Virar City",
    "Hubli-Dharwad"
  ],
  "03: Small Urban Area": [
    "Panvel",
    "Greater Noida",
    "Badlapur",
    "Bhiwandi Nizampur",
    "Bahadurgarh",
    "Mira-Bhayandar",
    "Navi Mumbai Panvel Raigarh",
    "Loni",
    "Ulhasnagar",
    "Kalher",
    "Ambarnath",
    "Purne",
    "Muradnagar",
    "Bhiwandi"
  ],
  "04: Semi Urban Area": [
    "Kon",
    "Chhapraula",
    "Owle",
    "Banthla",
    "Mharal Bk",
    "Haqiqatpur Urf Khudawas",
    "Kundli",
    "Vadghar",
    "Dasna",
    "Bhondsi",
    "Palidevad",
    "Khoni",
    "Kambe",
    "Shelar",
    "Jasai",
    "Ladrawan",
    "Abupur",
    "Karivali",
    "Katai",
    "Kharbav",
    "Kherli Hafizpur",
    "Rahanal",
    "Rees",
    "Piala",
    "Garhi Harsaru",
    "Kalundre",
    "Manesar",
    "Dadri"
  ]
}

In [30]:
df['regio_type'] = df['regio_type'].replace({
    '01: Cosmopolitan Urban Area': 1,
    '02: Sub-Metropolitan Urban Area': 2,
   '03: Small Urban Area': 3,
     '04: Semi Urban Area':4
})

In [31]:
df.shape

(92850, 57)

In [32]:
df=df[df['income']!=0]

In [33]:
df.to_csv("for_dashboard.csv",index=False,encoding='utf-8-sig')